node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
*.sqlite
*.sqlite3
*.db
.vscode
.idea
*.log
.DS_Store
README.md
docs
test
.eslintrc.js
.prettierrc
tsconfig.json
nest-cli.json

